    body{
        height:100vh;
    }

    left-bar{
        height:100vh;
    }

	.intro, .techs, .interest{
		font-family: 'Playfair Display', serif;
		padding: 10px;
	}

	.p-title{
		font-family: 'Playfair Display', serif;
		font-size: 30px;
	}

 	.layui-header{
 		display: block;
 		background-color: #b8c7ce;
 	}

	.main-header{
		display: block;
		position: relative;
		color: #b8c7ce;
		height: 70px;
		width: 100%;
		text-align: left;
		z-index: 900;

	}

	.layui-side{
		right: 0;
        height: 100vh;
	}

	img{
		float:right;
		margin:5px;
	}


	#horizontal-sidebar{
		position: relative;
		top:0px;
		padding: 5px;
		display: block;
		float: right;
		color: white;
		background-color: #23262E;
		z-index: 500;
		width: 22%;
		height: auto;
		overflow: hidden;
	}


	.layui-nav-item{
		color: #b8c7ce;
	}

	.social{
		margin-right: 7px;
		text-align: right;
		padding: 5px;
	}

	.header-details{
		float: right;
		position: relative;
		padding: 5px;
		margin: 10px;
	}

	.tech-name{
		display: block;
		text-align: left;
		font-size: 18px;
		padding: 2px;
	}

	.tech-strength{
		margin-bottom: 2px;
		margin-left: 10px;
		display: block;
		white-space:nowrap;

	}

	#parallelogram2 {
	display: inline-block;
	white-space:nowrap;
    width: 19px;
    height: 19px;
    background: rgb(255,255,255);
    -webkit-transform: skew(150deg);

} 

	#parallelogram1 {
	display: inline-block;
	white-space:nowrap;
    width: 19px;
    height: 19px;
    background: rgb(104,117,141);
    -webkit-transform: skew(150deg);
} 

	#layui-laydate1, #calendar{
		display: block;
		width: 300px;
		margin: 5px;
	}

	#animation{
		display: block;
		position: relative;
	}

	#left-sidebar{
		display: block;
		float: left;
		position: relative;
		height: 100%;
		width: 50px;
		background-color: red;
	}

	#emphasis{
		color:#009688;
	}

	p{
		display: block;
		position: relative;
		text-align: left;
		font-family:  'Roboto Condensed', "Times New Roman", Georgia, Serif;
		font-size: 20px;
		
	}

	li, ul{
		list-style: disc !important;
		font-size: 20px;
		font-family:  'Roboto Condensed', "Times New Roman", Georgia, Serif;
	}

	#main-area{
		display: block;
		overflow: auto;
		z-index: 1002;
	}

    #mobile-res{
        display:none;
    }

    .highlighter-rouge{
    	font-family: 'PT Mono', sans-serif;
		font-family:  'Roboto Condensed', "Times New Roman", Georgia, Serif;
    	color: #23262E;
    	font-size: 20px;
    }

    code{
    	background-color: #bdcadb;
    }

    div#resume{
        background: url("../img/codecode.jpg");
        background-color: rgba(0,0,0,.5);
        background-repeat: no-repeat;
        background-size: cover;
        height:10em;
        text-align: center!important;
        padding: 0.3em;
    }

    div.contact{
        background-color:#2F4056; 
        height:12.9em; 
        text-align:center!important;
        padding: 0.3em;
    }

.trigger {
    position: relative;
    height: 3.4em;
    width: 3.4em;
    display: inline-block;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 5;
    margin:0.1em;
    }

.trigger_span {
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    }

    .trigger_span, .trigger_span i {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: -5;
        font-size: 1.72em;
    }


    .trigger a:visited{
        color:#F1505A;
        text-decoration:none; 
    }

    .contact i{
        color:#fff!important;
    }


	@media only screen and (max-width:  768px){
		#horizontal-sidebar{
			display: none;
		}
        .layui-header{
            display:none;
        }
        .header-details{
            display:none;
        }
        #mobile-res {
            position: relative;
            display: inline-block;
            background-color: #23262E;
            float: right;
            width: 100%;
        }
		#main-area{
			margin-right: 0;
		}

	}