/* for head */


	#intro, #techs, #interest{
		padding: 10px;
	}

 	.layui-header{
 		display: block;
 		background-color: #b8c7ce;
 	}

	.main-header{
		display: block;
		position: relative;
		color: #b8c7ce;
		height: 70px;
		width: 100%;
		text-align: left;
		z-index: 900;

	}

	.layui-side{
		right: 0;
	}

	img{
		float:right;
		margin:5px;
	}


	#horizontal-sidebar{
		position: relative;
		top:0px;
		padding: 5px;
		display: block;
		float: right;
		color: #b8c7ce;
		z-index: 500;
		width: 22%;
		height: auto;
		overflow: hidden;
	}

	.layui-nav-item{
		color: #b8c7ce;
	}

	.social{
		margin-right: 7px;
		text-align: right;
		padding: 5px;
	}

	.header-details{
		float: right;
		position: relative;
		padding: 5px;
		margin: 10px;
	}

	.tech-name{
		display: block;
		text-align: left;
		font-size: 18px;
		padding: 2px;
	}

	.tech-strength{
		margin-bottom: 2px;
		margin-left: 10px;
		display: block;
		white-space:nowrap;

	}

	#parallelogram2 {
	display: inline-block;
	white-space:nowrap;
    width: 19px;
    height: 19px;
    background: rgb(255,255,255);
    -webkit-transform: skew(150deg);

} 

	#parallelogram1 {
	display: inline-block;
	white-space:nowrap;
    width: 19px;
    height: 19px;
    background: rgb(104,117,141);
    -webkit-transform: skew(150deg);
} 

	#layui-laydate1, #calendar{
		display: block;
		width: 300px;
		margin: 5px;
	}

	#animation{
		display: block;
		position: relative;
	}

	#left-sidebar{
		display: block;
		float: left;
		position: relative;
		height: 100%;
		width: 50px;
		background-color: red;
	}

	p{
		display: block;
		position: relative;
		text-align: left;
		font-family:  'Roboto Condensed', "Times New Roman", Georgia, Serif;
		font-size: 20px;
		
	}

	ul#list{
		list-style-type: disc;
		font-size: 20px;
		font-family:  'Roboto Condensed', "Times New Roman", Georgia, Serif;
	}

	li{
		list-style: disc; 
	}

	#main-area{
		display: block;
		overflow: auto;
		z-index: 1002;
	}

	@media only screen and (max-width:  768px){
		#horizontal-sidebar{
			display: none;
		}
		#main-area{
			margin-right: 0;
		}

	}